<section class="blade" [ngClass]="{'blade-maximized': maximized}">
	<header class="blade-head">
		<section class="blade-nav">
			<ul class="menu">
				<li class="menu-item __minimize" (click)="minimize()" *ngIf="maximized">
				</li>
				<li class="menu-item __maximize" (click)="maximize()" *ngIf="!maximized">
				</li>
				<li class="menu-item __close" [routerLink]="['../Default']">
				</li>
			</ul>
		</section>
		<section class="blade-t">
			<p class="blade-t_head">
				{{title}}
			</p>
		</section>
	</header>
	<div class="blade-content">
		<a #content></a>
	</div>
</section>
<router-outlet></router-outlet>
