<div class="blade" [ngClass]="{'blade-maximized': maximized}">
	<header class="blade-head">
		<div class="blade-status">
		</div>
		<div class="blade-nav">
			<ul class="menu __inline">
				<li class="menu-item action __minimize" (click)="minimize()" *ngIf="maximized">
				</li>
				<li class="menu-item action __maximize" (click)="maximize()" *ngIf="!maximized">
				</li>
				<li class="menu-item action __close" [routerLink]="['../Default']">
				</li>
			</ul>
		</div>
		<div class="blade-t">
			<p class="blade-t_head">
				{{title}}
			</p>
		</div>
	</header>
	<div class="blade-container">
		<a #content></a>
	</div>
</div>
<router-outlet></router-outlet>
