/*Base Colors*/
/*Chrome*/
/*Typography Styles*/
/*Data Management*/
/*Images*/
/* Sizes */
.blade {
  background: #fff;
  overflow: hidden;
  display: inline-block;
  word-spacing: 0;
  height: 100%;
  -webkit-box-shadow: -5px 0 5px -6px rgba(0, 0, 0, 0.1);
  box-shadow: -5px 0 5px -6px rgba(0, 0, 0, 0.1);
  -webkit-transition: width 0.5s;
  width: 420px;
  transition: width 0.5s;
}
.blade.blade-maximized {
  width: 100%;
}
.blade.blade-minimized {
  width: 40px;
  background: #272727;
}
.blade.blade-minimized .blade-minimized-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.blade.blade-minimized .blade-minimized-content .blade-minimized-title {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.blade *::-webkit-scrollbar-track-piece {
  background: #e6e6e5;
}
.blade *::-webkit-scrollbar-thumb {
  background: #a9a9a9;
}
.blade * {
  -ms-scrollbar-arrow-color: #a9a9a9;
  -ms-scrollbar-face-color: #a9a9a9;
  -ms-scrollbar-shadow-color: #a9a9a9;
  -ms-scrollbar-track-color: #e6e6e5;
}
.blade .blade-head,
.blade .blade-content {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-box-shadow: -2px 0 0 0 #0e0e0e inset;
  box-shadow: -2px 0 0 0 #0e0e0e inset;
  padding-right: 2px;
}
.blade .blade-head {
  background: #272727;
  height: 70px;
  padding: 25px 0 5px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.blade .blade-head .blade-nav {
  height: 25px;
  left: 0;
  position: absolute;
  right: 2px;
  text-align: right;
  top: 0;
}
.blade .blade-head .blade-nav .menu {
  position: relative;
  word-spacing: -4px;
}
.blade .blade-head .blade-nav .menu-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0;
  height: 25px;
  line-height: 1.4;
  position: relative;
  width: 32px;
  z-index: 250;
  display: inline-block;
}
.blade .blade-head .blade-nav .menu-item.__close {
  z-index: 350;
}
.blade .blade-head .blade-nav .menu-item.__disabled {
  cursor: default;
}
.blade .blade-head .blade-nav .menu-item * {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  width: 100%;
}
.blade .blade-head .blade-nav .menu-item.__minimize:after,
.blade .blade-head .blade-nav .menu-item.__maximize:after {
  border-color: #fff;
  border-style: solid;
  height: 12px;
  top: 9px;
  width: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.blade .blade-head .blade-nav .menu-item.__minimize:after {
  border-width: 0 0 1px;
}
.blade .blade-head .blade-nav .menu-item.__maximize:after {
  border-width: 1px 1px 1px;
}
.blade .blade-head .blade-nav .menu-item.__close:after {
  content: '×';
  font-family: caption;
  font-size: 29px;
  font-weight: 100;
  top: -4px;
}
.blade .blade-head .blade-nav .menu-item:after {
  color: #fff;
  content: '';
  left: 50%;
  margin: 0 0 0 -6px;
  position: absolute;
}
.blade .blade-head .blade-t {
  color: #fff;
  margin: 0 20px;
}
.blade .blade-head .blade-t .blade-t_head {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin: 6px 0 0;
}
.blade .blade-static {
  background: #fff;
  border-bottom: 1px solid #a9a9a9;
  height: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
}
.blade .blade-content {
  height: -moz-calc(100% -  70px);
  height: -webkit-calc(100% -  70px);
  height: calc(100% -  70px);
}
.blade .blade-content .blade-inner {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  font-size: 13px;
  overflow: auto;
  -ms-scrollbar-arrow-color: #a9a9a9;
  -ms-scrollbar-face-color: #a9a9a9;
  -ms-scrollbar-shadow-color: #a9a9a9;
  -ms-scrollbar-track-color: #e6e6e5;
}
.blade .blade-content .blade-inner::-webkit-scrollbar {
  background: transparent;
  position: absolute;
}
.blade .blade-content .blade-inner::-webkit-scrollbar-track-piece {
  background: #f9f9f9;
}
.blade .blade-content .blade-inner::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}
.blade .blade-content .blade-inner.has-footer {
  height: -moz-calc(100% -  70px);
  height: -webkit-calc(100% -  70px);
  height: calc(100% -  70px);
}
.blade .blade-content .blade-static + .blade-inner {
  height: -moz-calc(100% -  72px);
  height: -webkit-calc(100% -  72px);
  height: calc(100% -  72px);
}
.blade .blade-content .blade-static + .blade-inner.has-footer {
  height: -moz-calc(100% -  142px);
  height: -webkit-calc(100% -  142px);
  height: calc(100% -  142px);
}
.blade .blade-content .blade-footer {
  height: 70px;
  border-top: 1px solid #a9a9a9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.blade .blade-content .blade-footer .btn {
  margin-bottom: 0;
}
.blade .blade-content .container {
  padding: 20px;
}
.blade .blade-content .container h2 {
  padding: 0 0 20px 0;
}
.blade .blade-content .wizard,
.blade .blade-content .blade-nav {
  margin-top: -20px;
}
.blade .blade-content .wizard .app-icon,
.blade .blade-content .blade-nav .app-icon {
  margin-top: -4px;
}
.blade .blade-content .wizard .wizard-item,
.blade .blade-content .blade-nav .wizard-item,
.blade .blade-content .wizard .blade-nav-item,
.blade .blade-content .blade-nav .blade-nav-item {
  position: relative;
  font-size: 13px;
  width: 100%;
  min-height: 70px;
  margin-left: -20px;
  padding: 10px 20px;
  border-bottom: 1px solid #a9a9a9;
}
.blade .blade-content .wizard .wizard-item .toggle-switch.pull-right,
.blade .blade-content .blade-nav .wizard-item .toggle-switch.pull-right,
.blade .blade-content .wizard .blade-nav-item .toggle-switch.pull-right,
.blade .blade-content .blade-nav .blade-nav-item .toggle-switch.pull-right {
  margin-top: 3px;
  margin-right: 60px;
}
.blade .blade-content .wizard .wizard-item.current,
.blade .blade-content .blade-nav .wizard-item.current,
.blade .blade-content .wizard .blade-nav-item.current,
.blade .blade-content .blade-nav .blade-nav-item.current {
  background-color: #ef978e;
  border-color: #ef978e;
  outline-style: solid;
  outline-color: #ef978e;
  outline-width: 1px;
}
.blade .blade-content .wizard .wizard-item .title,
.blade .blade-content .blade-nav .wizard-item .title,
.blade .blade-content .wizard .blade-nav-item .title,
.blade .blade-content .blade-nav .blade-nav-item .title {
  padding-top: 24px;
}
.blade .blade-content .wizard .wizard-item .title img,
.blade .blade-content .blade-nav .wizard-item .title img,
.blade .blade-content .wizard .blade-nav-item .title img,
.blade .blade-content .blade-nav .blade-nav-item .title img {
  width: 32px;
  height: 32px;
}
.blade .blade-content .wizard .wizard-item p,
.blade .blade-content .blade-nav .wizard-item p,
.blade .blade-content .wizard .blade-nav-item p,
.blade .blade-content .blade-nav .blade-nav-item p {
  padding: 0;
  cursor: default;
}
.blade .blade-content .wizard .wizard-item p:nth-child(2),
.blade .blade-content .blade-nav .wizard-item p:nth-child(2),
.blade .blade-content .wizard .blade-nav-item p:nth-child(2),
.blade .blade-content .blade-nav .blade-nav-item p:nth-child(2) {
  font-size: 11px;
  text-transform: uppercase;
}
.blade .blade-content .wizard .wizard-item .status,
.blade .blade-content .blade-nav .wizard-item .status,
.blade .blade-content .wizard .blade-nav-item .status,
.blade .blade-content .blade-nav .blade-nav-item .status {
  top: 40px;
  right: 20px;
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url('images/incomplete.png') center no-repeat;
}
.blade .blade-content .wizard .wizard-item .status.complete,
.blade .blade-content .blade-nav .wizard-item .status.complete,
.blade .blade-content .wizard .blade-nav-item .status.complete,
.blade .blade-content .blade-nav .blade-nav-item .status.complete {
  width: 18px;
  height: 14px;
  background: url('images/complete.png') center no-repeat;
}
.blade .blade-content .wizard {
  counter-reset: listCounter;
}
.blade .blade-content .wizard .wizard-item {
  opacity: 0.4;
}
.blade .blade-content .wizard .wizard-item.complete,
.blade .blade-content .wizard .wizard-item.current {
  opacity: 1.0;
}
.blade .blade-content .wizard .wizard-item .counter {
  margin-top: 10px;
  float: left;
  padding-left: 10px;
}
.blade .blade-content .wizard .wizard-item .counter:before {
  content: counter(listCounter);
  counter-increment: listCounter;
  font-size: 36px;
  font-weight: 600;
}
.blade .blade-content .wizard .wizard-item .title {
  padding-left: 50px;
  padding-top: 26px;
}