<section class="pull-left">
	<a class="navbar-logo pull-left"></a>
</section>

<section class="toolbar pull-right">
	<section class="search pull-left">
		<input type="text" placeholder="Search for funds, work items or users" />
		<div class="toolbar-icon search-icon action pull-right"></div>
	</section>
	<section class="tools pull-right">
		<div class="toolbar-icon support-icon action"></div>
		<div class="toolbar-icon message-icon action"></div>
		<div class="avatar default pull-right"></div>
	</section>
</section>

