<div class="navbar-static-top">

	<div class="pull-left">
		<a class="navbar-logo pull-left"></a>
	</div>

	<div class="toolbar pull-right">
		<div class="search pull-left">
			<input type="text" placeholder="Search for funds, work items or users" />
			<div class="toolbar-icon search-icon action pull-right"></div>
		</div>
		<div class="tools pull-right">
			<div class="toolbar-icon support-icon action"></div>
			<div class="toolbar-icon message-icon action"></div>
			<div class="avatar default pull-right"></div>
		</div>
	</div>

</div>