<div class="blade-inner has-footer">
	<div class="container">
		<h2>Blade with Footer</h2>

		<p>Primary</p>
		<input type="button" class="btn btn-primary" value="Primary" />
		<input type="button" class="btn btn-primary" value="Primary" disabled="disabled" />

		<p>Secondary</p>
		<input type="button" class="btn btn-secondary" value="Secondary" />
		<input type="button" class="btn btn-secondary" value="Secondary" disabled="disabled" />

		<p>Tertiary</p>
		<input type="button" class="btn btn-tertiary" value="Tertiary" />
		<input type="button" class="btn btn-tertiary" value="Tertiary" disabled="disabled" />
	</div>
</div>

<div class="blade-footer">
	<div class="container">
		<input type="button" class="btn btn-primary" value="Next" (click)="next()" />
	</div>
</div>

